.paciente-layout {
  margin-left: 3px;
  background-image: url(../Pictures/EquinoTerapiaEffect2.jpg);
}

.header {
  font-family: monospace;
  font-size: 35px;
  /* color: whitesmoke; */
}

/* .label {
  color: whitesmoke;
}

th {
  color: whitesmoke;
}

td {
  color: whitesmoke;
} */
